:host {
    width: 100vw;
    height: 100vh;

    #back-auth {
        width: 100vw;
        height: 100vh;
    }

    #form-auth {
        height: 100vh;
        width: 100vw;
    }

    h2 {
        font-size: 3rem;
    }
}