<div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto d-flex flex-column justify-content-center">
        <p class="card-text mb-2">Realize seu cadastro. ✔️</p>
        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
            <div class="alert-body">
                <p>{{ error }}</p>
            </div>
        </ngb-alert>

        <form class="auth-login-form mt-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="form-label" for="register-name">Nome</label>
                <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Nome Usuário"
                    aria-describedby="register-name" autofocus="" tabindex="1" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Preencha o nome</div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="login-email">Email</label>
                <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="usuario@email.com"
                    aria-describedby="login-email" autofocus="" tabindex="1" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Preencha o e-mail</div>
                    <div *ngIf="f.email.errors.email">Informe um e-mail válido</div>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <label for="login-password">Senha</label>
                </div>
                <div class="input-group input-group-merge form-password-toggle">
                    <input [type]="passwordTextType ? 'text' : 'password'" formControlName="password"
                        class="form-control form-control-merge"
                        [ngClass]="{ 'is-invalid error': submitted && f.password.errors }" placeholder="············"
                        aria-describedby="login-password" tabindex="2" />
                    <div class="input-group-append">
                        <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                        'icon-eye-off': passwordTextType,
                        'icon-eye': !passwordTextType
                      }" (click)="togglePasswordTextType()"></i></span>
                    </div>
                </div>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
                    [ngClass]="{ 'd-block': submitted && f.password.errors }">
                    <div *ngIf="f.password.errors.required">Preencha a senha</div>
                    <div *ngIf="f.password.errors.minlength">No mínimo 6 dígitos</div>
                    <div *ngIf="f.password.errors.maxlength">No máximo 20 dígitos</div>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <label for="login-password">Confirme a senha</label>
                </div>
                <div class="input-group input-group-merge form-password-toggle">
                    <input [type]="passwordConfirmTextType ? 'text' : 'password'" formControlName="passwordConfirm"
                        class="form-control form-control-merge"
                        [ngClass]="{ 'is-invalid error': submitted && f.passwordConfirm.errors || f.password.value != f.passwordConfirm.value }" placeholder="············"
                        aria-describedby="login-password" tabindex="2" />
                    <div class="input-group-append">
                        <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                        'icon-eye-off': passwordConfirmTextType,
                        'icon-eye': !passwordConfirmTextType
                      }" (click)="togglePasswordConfirmTextType()"></i></span>
                    </div>
                </div>
                <div *ngIf="submitted && f.passwordConfirm.errors" class="invalid-feedback"
                    [ngClass]="{ 'd-block': submitted && f.passwordConfirm.errors }">
                    <div *ngIf="f.passwordConfirm.errors.required">Confirme a senha</div>
                    <div *ngIf="f.passwordConfirm.errors.minlength">No mínimo 6 dígitos</div>
                    <div *ngIf="f.passwordConfirm.errors.maxlength">No máximo 20 dígitos</div>
                </div>
            </div>
            <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="4" rippleEffect>
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Criar Conta
            </button>
        </form>
        <p class="text-center mt-2">
            <span>Já possui conta?</span><a routerLink="/pages/authentication/login"><span>&nbsp;Faça login!</span></a>
        </p>
    </div>
</div>
<div class="father-alert">
    <app-button-alert class="field-alert" *ngIf="fieldAlert" status="{{status}}" infoAlert="{{message}}"></app-button-alert>
</div>