<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section id="home-page">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Cadastro de Cliente</h4>
                            <button (click)="fecharTelaCadastroCliente()" type="button" class="btn btn-secondary"
                                rippleEffect>
                                <i data-feather="x" class="font-medium-3"></i>
                            </button>
                        </div>

                        <div class="card-body">

                            <form class="form" [formGroup]="formularioCliente" (ngSubmit)="cadastrarCliente()">
                                <!-- <h5>Tipo Pessoa</h5> -->
                                <div class="row mb-1 d-none">
                                    <div class="col-md-4 col-12 d-flex">
                                        <div class="custom-control custom-radio mr-1">
                                            <input type="radio" id="customRadio1" name="customRadio"
                                            [(ngModel)]="tipoPessoa" [ngModelOptions]="{standalone: true}"
                                                class="custom-control-input" value="F" checked />
                                            <label class="custom-control-label" for="customRadio1">Física</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio"
                                            [(ngModel)]="tipoPessoa" [ngModelOptions]="{standalone: true}"
                                                class="custom-control-input" value="J" />
                                            <label class="custom-control-label" for="customRadio2">Jurídica</label>
                                        </div>
                                    </div>
                                </div>
                                <h5>Dados</h5>
                                <div class="row">
                                    <div class="form-group col-md-4 col-12">
                                        <div>
                                            <label class="form-label" for="documento-field">{{tipoPessoa == 'F' ? 'CPF/CNPJ *' : 'CPF/CNPJ *'}}</label>
                                            <div class="input-group input-group-merge"
                                                [ngClass]="{ 'is-invalid': submitted && f_cliente.documento.errors }">
                                                <input formControlName="documento" mask="CPF_CNPJ" type="text"
                                                    (keyup)="verificarTipoPessoa($event)"
                                                    id="documento-field" class="form-control" placeholder="Documento"
                                                    [ngClass]="{ 'is-invalid': submitted && f_cliente.documento.errors }" />
                                                <div *ngIf="tipoPessoa == 'J'" class="input-group-append">
                                                    <a (click)="consultaCnpj()" class="input-group-text"
                                                        id="basic-addon-search2" placement="top"
                                                        ngbTooltip="Buscar dados da empresa"><i
                                                            data-feather="search"></i></a>
                                                </div>
                                            </div>
                                            <div *ngIf="submitted && f_cliente.documento.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f_cliente.documento.errors.required">Preencha o documento
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="tipoPessoa == 'F'" class="col-md-8 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column">Nome *</label>
                                            <input formControlName="nome" type="text" id="last-name-column"
                                                class="form-control" placeholder="Nome do cliente"
                                                [ngClass]="{ 'is-invalid': submitted && f_cliente.nome.errors }" />
                                            <div *ngIf="submitted && f_cliente.nome.errors" class="invalid-feedback">
                                                <div *ngIf="f_cliente.nome.errors.required">Preencha a razão social
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="tipoPessoa == 'J'" class="col-md-8 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column">Razão Social *</label>
                                            <input formControlName="nome" type="text" id="last-name-column"
                                                class="form-control" placeholder="Razão Social"
                                                [ngClass]="{ 'is-invalid': submitted && f_cliente.nome.errors }" />
                                            <div *ngIf="submitted && f_cliente.nome.errors" class="invalid-feedback">
                                                <div *ngIf="f_cliente.nome.errors.required">Preencha o nome</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Contato</h5>
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div class="form-group">
                                            <label for="first-name-column">Celular *</label>
                                            <input formControlName="celular" type="text" id="first-name-column"
                                                class="form-control" placeholder="(00) 0 0000-0000"
                                                mask="(00) 0 0000-0000 || (00) 0000-0000"
                                                [ngClass]="{ 'is-invalid': submitted && f_cliente.celular.errors }">
                                            <div *ngIf="submitted && f_cliente.celular.errors" class="invalid-feedback">
                                                <div *ngIf="f_cliente.celular.errors.required">Preencha o celular</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column">Email *</label>
                                            <input formControlName="email" type="email" id="last-name-column"
                                                class="form-control" placeholder="cliente@email.com"
                                                [ngClass]="{ 'is-invalid': submitted && f_cliente.email.errors }" />
                                            <div *ngIf="submitted && f_cliente.email.errors" class="invalid-feedback">
                                                <div *ngIf="f_cliente.email.errors.required">Preencha o e-mail</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Endereço</h5>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label class="form-label" for="modern-cep">CEP *</label>
                                        <div class="input-group input-group-merge"
                                            [ngClass]="{ 'is-invalid': submitted && f_cliente.cep.errors }">
                                            <input formControlName="cep" mask="00000-000" type="text" id="modern-cep"
                                                class="form-control" placeholder="00000-000"
                                                [ngClass]="{ 'is-invalid': submitted && f_cliente.cep.errors }" />
                                            <div class="input-group-append">
                                                <a (click)="consultaCep()" class="input-group-text"
                                                    id="basic-addon-search2"><i data-feather="search"></i></a>
                                            </div>
                                        </div>
                                        <div *ngIf="submitted && f_cliente.cep.errors" class="invalid-feedback">
                                            <div *ngIf="f_cliente.cep.errors.required">Preencha o cep</div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column">Endereço *</label>
                                            <input formControlName="logradouro" type="text" id="last-name-column"
                                                class="form-control" placeholder="Endereço"
                                                [ngClass]="{ 'is-invalid': submitted && f_cliente.logradouro.errors }" />
                                            <div *ngIf="submitted && f_cliente.logradouro.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f_cliente.logradouro.errors.required">Preencha o logradouro
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-12">
                                        <div class="form-group">
                                            <label for="bairro">Bairro *</label>
                                            <input formControlName="bairro" type="text" id="bairro" class="form-control"
                                                placeholder="Bairro"
                                                [ngClass]="{ 'is-invalid': submitted && f_cliente.bairro.errors }" />
                                            <div *ngIf="submitted && f_cliente.bairro.errors" class="invalid-feedback">
                                                <div *ngIf="f_cliente.bairro.errors.required">Preencha o bairro
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-12">
                                        <div class="form-group">
                                            <label for="uf">UF *</label>

                                                <ng-select formControlName="uf"
                                                [ngClass]="{ 'is-invalid': submitted && f_cliente.uf.errors }">
                                                    <ng-option *ngFor="let uf of ufs"
                                                        [value]="uf">
                                                        {{uf}} </ng-option>
                                                </ng-select>    

                                            <div *ngIf="submitted && f_cliente.uf.errors" class="invalid-feedback">
                                                <div *ngIf="f_cliente.uf.errors.required">Preencha a UF
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-12">
                                        <div class="form-group">
                                            <label for="complemento">Complemento</label>
                                            <input formControlName="complemento" type="text" id="complemento"
                                                class="form-control" placeholder="Complemento" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                        <div class="form-group">
                                            <label for="cidade">Cidade *</label>
                                            <input formControlName="cidade" type="text" id="cidade" class="form-control"
                                                placeholder="Cidade"
                                                [ngClass]="{ 'is-invalid': submitted && f_cliente.cidade.errors }" />
                                            <div *ngIf="submitted && f_cliente.cidade.errors" class="invalid-feedback">
                                                <div *ngIf="f_cliente.cidade.errors.required">Preencha a cidade
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <div class="form-group">
                                            <label for="numero">Número</label>
                                            <input formControlName="numero" type="text" id="numero" class="form-control"
                                                placeholder="00" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" rippleEffect class="btn btn-success mr-1">Salvar</button>
                                        <button (click)="informarNovoCadastro()" rippleEffect
                                            class="btn btn-primary">Salvar + Novo
                                            Cadastro</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>