<div class="row">
    <div class="col-md-12 d-md-flex justify-content-around">
        <button type="button" class="btn-filtro-status btn btn-gradient-success">
            <div class="badge badge-pill pl-2 pr-2">PAGO</div>
            <div><h3>{{quantidadePagos}}</h3></div>
        </button>
        <button type="button" class="btn-filtro-status btn btn-gradient-warning">
            <div class="badge badge-pill">EM ABERTO</div>
            <div><h3>{{quantidadeEmAberto}}</h3></div>
        </button>
        <button type="button" class="btn-filtro-status btn btn-gradient-secondary">
            <div class="badge badge-pill">PENDENTE</div>
            <div><h3>{{quantidadePendentes}}</h3></div>
        </button>
        <button type="button" class="btn-filtro-status btn btn-gradient-danger">
            <div class="badge badge-pill pl-1 pr-1">VENCIDO</div>
            <div><h3>{{quantidadeVencidos}}</h3></div>
        </button>
    </div>
</div>