<div *ngIf="!cadastroProduto && !edicaoProduto" class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section id="home-page">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Produtos</h4>
                            <button (click)="mostrarTelaCadastro()" type="button" class="btn btn-success" rippleEffect>
                                Novo Produto
                            </button>
                        </div>
                    </div>

                    <div>
                        <app-table-produto></app-table-produto>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<app-gerar-produto
(gerarProdutoEvento)="fecharTelaCadastro()"
*ngIf="cadastroProduto"></app-gerar-produto>

<app-visualizar-editar-produto
(edicaoProdutoEvento)="fecharTelaEdicao()"
*ngIf="edicaoProduto"
></app-visualizar-editar-produto>