.fieldNoData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.largura-select-items {
    width: 5vw;
}

.largura-pesquisa-nome {
    width: 20vw;
}

.father-alert {
    display: flex;
    justify-content: center;
}

.field-alert {
    position: absolute;
    bottom: 0;
    z-index: 99999;
}