<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <section id="home-page">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Templates de E-mail
                            </h4>
                        </div>

                        <div class="card-body">

                            aqui serão listados os templates de e-mail...

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>